html,body{
    background-color: #999999;
    background-image: url(../images/clouds.jpg);
    display: flex;
    justify-content: center;
    font-family: 'Syne Mono', monospace;
}

#main-container{
    width: 1000px;
    padding: 10px;
    border: 1px solid black;
    background-color: #abafb1;
}

#main-container:hover{
    opacity: 100%;
}

#header{
    width: 980px;
    height: 100px;
    padding: 10px;
    background-color: #333333;
    color: white;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

#nav{
    width: 1000px;
    height: 50px;
    background-color: black;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
}

.btn{
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    margin: auto;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover{
    background-color: orange;
}

#content{
    display: flex;
    justify-content: center;
}

.title{
    padding: 5px 0 5px 0;
    background-color: #444444;
    text-align: center;
    color: white;
}

.content-left{
    width: 600px;
    padding: 10px;
    background-color: #cccccc;
    margin-top: 10px;
    border: 3px solid black;
    border-right: 1.5px solid black;
}

.title-left{
    width: 600px;
    padding: 5px 0 5px 0;
    background-color: #444444;
    text-align: center;
    color: white;
}

.txt-left{
    width: 600px;
    text-align: justify;
    font-size: 18px;
}

.content-right{
    width: 400px;
    padding: 10px;
    background-color: #cccccc;
    margin-top: 10px;
    border: 3px solid black;
    border-left: 1.5px solid black;
}

.title-right{
    width: 400px;
    padding: 5px 0 5px 0;
    background-color: #444444;
    text-align: center;
    color: white;
}

.txt-right{
    width: 400px;
    font-size: 18px;
    text-align: justify;
}

#footer{
    width: 1000px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}