html,body{
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}

body{
    background-image: url(images/poly.jpg);
}

nav{
    background-color: #101820ff;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid white;
}

#container{
    background-color: #101820ff;
    width: auto;
    border: 1px solid white;
    padding: 7px;
}

canvas{
    background-color: #101820ff;
    border: 1px solid white;
}

a:link,a:hover{
    background-color: #fee715ff;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: #101820ff;
}

a:hover{
    background-color: white;
    color: black;
}