html,body{
    background-color: #659DBD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

#container{
    width: 970px;
    padding: 10px;
    margin: auto;
}

h1{
    width: 950px;
    padding: 10px;
    text-align: center;
    background-color: #bc986a;
    border: 1px solid #fbeec1;
}

.sections{
    width: 950px;
    padding: 10px;
    background-color: #daad86;
    border: 1px solid #fbeec1;
    text-align: center;
}

img{
    border: 1px solid #fbeec1 ;
}

.btn{
    width: 75px;
    padding: 10px;
    background-color: #8d8741;
    border: 1px solid #fbeec1;
    color: white;
    text-decoration: none;
}